<%- include('./partials/header'); -%>
<% if (notions && notions.length) { %>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% for (let i = 0; i < notions.length; i++) { %>
        <div class="col">
          <div class="card shadow-sm">
            <img
                class="bd-placeholder-img card-img-top"
                width="100%" height="225"
                src="https://covers.openlibrary.org/b/isbn/<%= notions[i].isbn %>mb-md-0.jpg"
                alt="<%= notions[i].title %>"
              />
            <h5 class="mb-1 card-body card-title"><%= notions[i].title %></h5>
            <div class="card-body">
              <p class="card-text"><%= notions[i].note %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">ID: <%= notions[i].id %></small>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
<% } %>

<%- include('./partials/footer'); -%>
