!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main • Notion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32" aria-hidden="true">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">Main Menu</span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">My Notes</a></li>
                <li class="nav-item"><a href="/add" class="nav-link">Add</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
            </ul>
        </header>
    </div>
<% if (notions && notions.length) { %>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% for (let i = 0; i < notions.length; i++) { %>
        <div class="col">
          <div class="card shadow-sm">
            <img
              class="bd-placeholder-img card-img-top"
              width="100%" height="225"
              src="https://covers.openlibrary.org/b/isbn/<%= notions[i].isbn %>.jpg"
              alt="<%= notions[i].title %>"
            />
            <h5 class="mb-1 card-body card-title"><%= notions[i].title %></h5>
            <div class="card-body">
              <p class="card-text"><%= notions[i].note %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/update/<%= notions[i].id %>">Edit</a></button>
                  <button class="btn btn-sm btn-outline-secondary delete-btn" data-id="<%= notions[i].id %>">Delete</button>
                </div>
                <small class="text-body-secondary">ID: <%= notions[i].id %></small>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
<% } %>

<script src="/script.js"></script>
